h1 {
    font-family: "Aladin";
    text-align: center;
}

p {
    font-family: "EB Garamond";
    padding: 5px;
}

body {
    background-color: rgb(101, 93, 144);
}

#primary-window {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dacafb;
}